{% extends 'base.html.twig' %}

{% block title %}New ReviewReport{% endblock %}

{% block body %}
    <h1>Create new ReviewReport</h1>

    {{ include('review_report/_form.html.twig') }}

    <a href="{{ path('review_report_index') }}">back to list</a>
{% endblock %}
